@font-face {
  font-family: 'tours';
  src: url("../font/toures.ttf");
}
@font-face {
  font-family: 'small';
  src: url("../font/small.ttf");
}
html {
  font-size: 62.5%;
  width: 100%;
}
html body {
  font-family: 'tours';
}
html body h1 {
  font-family: 'small';
  font-size: 3em;
  padding: 10px 0;
  text-align: center;
}
